
      <!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
      <style type="text/css" media="screen">
  .gr_custom_container_1439210030 {
    /* customize your Goodreads widget container here*/
    border: 1px solid gray;
    border-radius:10px;
    padding: 10px 5px 10px 5px;
    background-color: #FFFFFF;
    color: #000000;
    width: 300px
  }
  .gr_custom_header_1439210030 {
    /* customize your Goodreads header here*/
    border-bottom: 1px solid gray;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    font-size: 120%
  }
  .gr_custom_each_container_1439210030 {
    /* customize each individual book container here */
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 4px;
    border-bottom: 1px solid #aaa;
  }
  .gr_custom_book_container_1439210030 {
    /* customize your book covers here */
    overflow: hidden;
    height: 60px;
      float: left;
      margin-right: 4px;
      width: 39px;
  }
  .gr_custom_author_1439210030 {
    /* customize your author names here */
    font-size: 10px;
  }
  .gr_custom_tags_1439210030 {
    /* customize your tags here */
    font-size: 10px;
    color: gray;
  }
  .gr_custom_rating_1439210030 {
    /* customize your rating stars here */
    float: right;
  }
</style>

      <div id="gr_custom_widget_1439210030">
          <div class="gr_custom_container_1439210030">
    <h2 class="gr_custom_header_1439210030">
    <a href="https://www.goodreads.com/review/list/10281106-zachary?shelf=books-i-would-lend-out&amp;utm_medium=api&amp;utm_source=custom_widget" style="text-decoration: none;">Books I would lend out (note: star ratings are my own):</a>
    </h2>
      <div class="gr_custom_each_container_1439210030">
          <div class="gr_custom_book_container_1439210030">
            <a href="https://www.goodreads.com/review/show/737724634?utm_medium=api&amp;utm_source=custom_widget" title="The Charisma Myth: How Anyone Can Master the Art and Science of Personal Magnetism"><img alt="The Charisma Myth: How Anyone Can Master the Art and Science of Personal Magnetism" border="0" src="https://d.gr-assets.com/books/1348214063s/11910905.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1439210030">
            <img alt="4 of 5 stars" class=" staticStars" src="https://www.goodreads.com/images/layout/stars/red_star_4_of_5.png" title="4 of 5 stars, really liked it" />
          </div>
          <div class="gr_custom_title_1439210030">
            <a href="https://www.goodreads.com/review/show/737724634?utm_medium=api&amp;utm_source=custom_widget">The Charisma Myth: How Anyone Can Master the Art and Science of Personal Magnetism</a>
          </div>
          <div class="gr_custom_author_1439210030">
            by <a href="https://www.goodreads.com/author/show/1124434.Olivia_Fox_Cabane">Olivia Fox Cabane</a>
          </div>
      </div>
      <div class="gr_custom_each_container_1439210030">
          <div class="gr_custom_book_container_1439210030">
            <a href="https://www.goodreads.com/review/show/1306794223?utm_medium=api&amp;utm_source=custom_widget" title="Conversationally Speaking: Tested New Ways to Increase Your Personal and Social Effectiveness"><img alt="Conversationally Speaking: Tested New Ways to Increase Your Personal and Social Effectiveness" border="0" src="https://d.gr-assets.com/books/1348508290s/307218.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1439210030">
            <img alt="4 of 5 stars" class=" staticStars" src="https://www.goodreads.com/images/layout/stars/red_star_4_of_5.png" title="4 of 5 stars, really liked it" />
          </div>
          <div class="gr_custom_title_1439210030">
            <a href="https://www.goodreads.com/review/show/1306794223?utm_medium=api&amp;utm_source=custom_widget">Conversationally Speaking: Tested New Ways to Increase Your Personal and Social Effectiveness</a>
          </div>
          <div class="gr_custom_author_1439210030">
            by <a href="https://www.goodreads.com/author/show/1348091.Alan_Garner">Alan  Garner</a>
          </div>
      </div>
      <div class="gr_custom_each_container_1439210030">
          <div class="gr_custom_book_container_1439210030">
            <a href="https://www.goodreads.com/review/show/583356325?utm_medium=api&amp;utm_source=custom_widget" title="The Fault in Our Stars"><img alt="The Fault in Our Stars" border="0" src="https://d.gr-assets.com/books/1360206420s/11870085.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1439210030">
            <img alt="4 of 5 stars" class=" staticStars" src="https://www.goodreads.com/images/layout/stars/red_star_4_of_5.png" title="4 of 5 stars, really liked it" />
          </div>
          <div class="gr_custom_title_1439210030">
            <a href="https://www.goodreads.com/review/show/583356325?utm_medium=api&amp;utm_source=custom_widget">The Fault in Our Stars</a>
          </div>
          <div class="gr_custom_author_1439210030">
            by <a href="https://www.goodreads.com/author/show/1406384.John_Green">John Green</a>
          </div>
      </div>
      <div class="gr_custom_each_container_1439210030">
          <div class="gr_custom_book_container_1439210030">
            <a href="https://www.goodreads.com/review/show/732548220?utm_medium=api&amp;utm_source=custom_widget" title="The Paradox of Choice: Why More Is Less"><img alt="The Paradox of Choice: Why More Is Less" border="0" src="https://d.gr-assets.com/books/1410138134s/10639.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1439210030">
            <img alt="4 of 5 stars" class=" staticStars" src="https://www.goodreads.com/images/layout/stars/red_star_4_of_5.png" title="4 of 5 stars, really liked it" />
          </div>
          <div class="gr_custom_title_1439210030">
            <a href="https://www.goodreads.com/review/show/732548220?utm_medium=api&amp;utm_source=custom_widget">The Paradox of Choice: Why More Is Less</a>
          </div>
          <div class="gr_custom_author_1439210030">
            by <a href="https://www.goodreads.com/author/show/6957.Barry_Schwartz">Barry Schwartz</a>
          </div>
      </div>
  <br style="clear: both"/>
  <center>
    <a href="https://www.goodreads.com/"><img alt="goodreads.com" src="https://www.goodreads.com/images/widget/widget_logo.gif" style="border:0" /></a>
  </center>
  <noscript>
    Share <a href="https://www.goodreads.com/">book reviews</a> and ratings with Zachary, and even join a <a href="https://www.goodreads.com/group">book club</a> on Goodreads.
  </noscript>
  </div>

      </div>
      <script src="https://www.goodreads.com/review/custom_widget/10281106.Books%20I%20would%20lend%20out%20(note:%20star%20ratings%20are%20my%20own):?cover_position=left&cover_size=small&num_books=100&order=a&shelf=books-i-would-lend-out&show_author=1&show_cover=1&show_rating=1&show_review=1&show_tags=0&show_title=1&sort=title&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=1439210030&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>
