{% extends 'base.html' %}

{% load static %}

{% block body_block %}

<p>Zachary enjoyed tinkering with abstract systems since he was a kid. Around age 10, he was developing tabletop games just for the fun of creating and analyzing how different parts interacted. He played strategy video games like a scientist, running experiments with spreadsheets to find the optimal strategy. And for something completely different, he used the computer program American Girls Premiere (yeah yeah yeah...) to make plays of dubious quality. He wishes he had been exposed to programming earlier, because he thinks it would have been an excellent fit for his desire to be both analytical and creative.</p>

<p>Zachary’s life goal is to make a difference and enjoy life. He pursues the former as a member of the Effective Altruism movement. He enjoys playing the piano--which was his major in his first degree--playing racquet and social sports like volleyball, social tabletop games, and reading and discussing “big picture” topics like economics (especially behavioural), psychology, and sociology. He currently lives with pleasantly tolerable family and friends in the Atlanta-metro area, where he was born and raised.</p>

{% endblock body_block %}
